<%# An index page 
that displays the names of all the artists in your database. %>

<%# * A nice to have feature: On the index page, 
clicking on the name of the artist 
would link me to their show page (see below). %>

<h1>HERE ARE OUR ARTISTS!</h1>
<br>
<br>
<% @artists.each do |artist| %>
    <a href="/artists/<%= artist.id %>" > 
        <%= artist.name %> 
    </a>
    <br>
    <br>
<% end%>
